/* CONFIGURAÇÃO GERAL */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color: #fff8fa;
    color: #94a2b8;
}

/* MENU SUPERIOR */
.sidebar {
    width: 100%;
    height: 130px;
    background-color: #fff8fa;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 0px 10px #ebadaf;
}

#logo {
    height: 160px;
}

.menu {
    display: flex;
    gap: 20px;
    margin-left: 200px;
}

.menu-item {
    padding: 10px 15px;
    border-radius: 6px;
    text-decoration: none;
    color: #4a698d;
    font-weight: 600;
}

.menu-item:hover {
    background-color: #94a2b8;
    color: white;
}

.contato-container {
    padding: 30px;
    text-align: center;
}

.contato-conteudo {
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 40px;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
}

.formulario {
    flex: 1 1 400px;
    text-align: left;
}

.formulario h2 {
    color: #d86f7b;
    font-size: 28px;
    margin-bottom: 10px;
}

.formulario p {
    color: black;
    margin-bottom: 20px;
}

.formulario form {
    background-color: #f8f6f6;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario input {
    padding: 12px;
    border: none;
    border-radius: 20px;
    background-color: #ffffff;
}

.formulario button {
    background-color: #d86f7b;
    color: rgb(245, 248, 245);
    padding: 12px;
    border: none;
    border-radius: 20px;
}

.formulario button:hover {
    background-color: #607389;
}

.informacoes-contato {
    flex: 1 1 100px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    margin-top: 150px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.1em;
}

.icone {
    background-color: #ebadaf;
    border-radius: 90%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.bannercontato {
    width: 100%;
    height: 35%;

}

.bannercontato img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* RODAPÉ */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fce6e8;
    text-align: center;
    padding: 30px;
    font-size: 0.9rem;
    color: #d86f7b;
    border-top: 2px solid #f1b7be;
}

main {
    margin-bottom: 80px;
}

.contato-container {
    flex: 1 0 auto;
    padding-bottom: 80px;
}