body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fff8fa;
    color: #94a2b8;
}

/*MENU*/
.sidebar {
    width: 100%;
    height: 130px;
    background-color: #fff8fa;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 0px 10px #ebadaf;
}

.menu {
    display: flex;
    gap: 20px;
    margin-left: 200px;
}

#logo {
    height: 160px;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu-item {
    padding: 10px 15px;
    border-radius: 6px;
    text-decoration: none;
    color: #4a698d;
    font-weight: 600;
}

.menu-item:hover {
    background-color: #94a2b8;
    color: white;
}

/*PARTE SUPERIOR*/
main {
    padding: 20px;
    text-align: center;
}

.titulo-material {
    font-size: 28px;
    color: #d5888c;
    margin-bottom: 25px;
}

/*CARD PRINCIPAL*/
.card {
    background-color: #ffffff;
    width: 70%;
    margin: auto;
    padding: 25px;
    border: 2px solid #4a698d;
    border-radius: 8px;
}

/*BOTÕES*/
.filtros {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 25px;
}

select {
    padding: 10px;
    width: 220px;
    border: 1px solid #bdcce2;
    border-radius: 6px;
    background-color: #eef7f1;
    color: #8f8e8e;
    font-weight: 600;
}

/*CARD DA LÂMPADA*/
.caixa-lampada {
    background-color: #eef7f1;
    padding: 40px;
    border-radius: 6px;
    border: 1px solid #bdcce2;
}

.lampada-img {
    height: 150px;
    width: 240px;
    margin-bottom: 10px;
    opacity: 0.9;
}

.caixa-lampada p {
    font-weight: 600;
    color: #ebadaf;
}

/*CARD DE MATERIAL*/

.material-card {
    background-color: #ffffff;
    border: 2px solid #4a698d;
    border-radius: 8px;
    padding: 18px;
    width: 50%;
    margin: 25px auto;
    text-align: left;
    color: #4a698d;
}

.material-titulo {
    font-size: 20px;
    font-weight: 600;
    color: #d5888c;
    margin-bottom: 12px;
    text-align: center;
}

.material-info-linha {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.material-img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    display: block;
    margin: 0 auto;
}

.material-info {
    font-size: 14px;
    color: #4a698d;
    margin: 0;
}

.material-resumo {
    margin: 12px 0;
    color: #94a2b8;
    font-size: 14px;
    font-weight: 600;
    text-align: justify;
}

.material-hashtags {
    margin-top: 10px;
    color: #d5888c;
    font-size: 14px;
    font-weight: 600;
}

.material-link {
    display: block;
    margin: 12px 0;
    color: #4a698d;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid #4a698d;
    padding: 6px 10px;
    border-radius: 6px;
    text-align: center;
    transition: 0.2s;
}

.material-link:hover {
    background-color: #4a698d;
    color: #ffffff;
}