/*menu*/
.sidebar {
    width: 100%;
    height: 130px;
    background-color: #fff8fa;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 0px 10px #ebadaf;
}

.menu {
    display: flex;
    gap: 20px;
    margin-left: 200px;
}

#logo {
    height: 160px;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu-item {
    padding: 10px 15px;
    border-radius: 6px;
    text-decoration: none;
    color: #4a698d;
    font-weight: 600;
}

.menu-item:hover {
    background-color: #94a2b8;
    color: white;
}


/*PARTE SUPERIOR*/
main {
    padding: 20px;
    text-align: center;
}

.titulo-material {
    font-size: 28px;
    color: #d5888c;
    margin-bottom: 25px;
}

/*rodape*/
.footer {
    background-color: #d5888c;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 20px;
}

.footer-column h4 {
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-column p {
    font-size: 14px;
    color: rgb(255, 249, 249);
}

.footer-bottom {
    border-top: 1px solid #fcfafa;
    padding-top: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(248, 244, 244);
}

.logo {
    width: 100px;
    height: 110px;
}

.social-icons a {
    margin-left: 10px;
    color: white;
    font-size: 20px;
}

.social-icons a:hover {
    color: #ffffff;
}